# writing files
/writing/

# individual article data used for the reproducibility step of the pilot study
/data/pilot/data-pilot/

# individual article data used for step 2, 3, 4 in the main study
# note that the code for step 2, 3, and 4 can download these files from OSF
/data/data-main/

# index used to sample open data articles from in pilot study
/data/article-index/

# individual codebooks for main study
/data/codebook-main-reporting-edd.xlsx
/data/codebook-main-reporting-em.xlsx

# misc files
*.Rmd
*.Rproj
*.DS_Store
*.rar
*.Rhistory
*.Rdata
*.bib
*.docx
*.csl
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.xml
*.synctex.gz
*.gz
*.tex.DS_Store
.Rproj.user
