# writing files
/submission/

# individual codebooks for main study
/data/codebook-main-reporting-edd.xlsx
/data/codebook-main-reporting-em.xlsx

# index used to sample open data articles from in pilot study
/data/article-index/

# data and pdfs used for the reproducibility step of the pilot and mainstudy
/data/data-pilot/
/data/data-main/

# misc files
*.rar
*.Rhistory
*.Rdata
*.bib
*.docx
*.csl
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.xml
*.synctex.gz
*.gz
*.tex