# writing files
/submission/

# open datasets index
/data/article-index/

# pdfs from pilot study
/data/data-pilot/fulltext/

# misc files
*.rar
*.Rhistory
*.Rdata
*.bib
*.docx
*.csl
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.xml
*.synctex.gz
*.gz
*.tex